/* Global Variables */

:root {
	--dark-color: #524c4c;
	--light-color: #fffcf7;
	
	--preferred-serif-font: 'Zilla Slab', serif;
	--preferred-sans-serif-font: 'Inter', sans-serif;
}

a {
	color: var(--dark-color);
	text-decoration: none;
}

html, body {
    height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* Used for the main links on the home page */
.stitched {
	border: 2px solid var(--dark-color);
	padding: 12px;
	display: block;
	min-width: 4vw;
	margin-bottom: 1px;
	margin-top: 1px;
	text-align: center;
}

/* Everything, no matter the layout, uses the .content class which excludes header/footer */
.content {
	max-width: 800px;
	margin: 0 auto;
	padding: 2rem;
	flex: 1 0 auto;
	line-height: 1.5;
	margin-bottom: 12px;
	font-size: 22px;
	font-family: var(--preferred-serif-font);
	padding: 12px;
}

.content img {
	width: 60%;
	display: block;
	margin: 12px auto;
}

h1, h2, h3, h4 {
	font-family: var(--preferred-sans-serif-font)
}

post-nav {
	text-align: center;
}

.topnav {
  display: flex;
  justify-content: center;
	background-color: var(--dark-color);
	color: var(--light-color);
	line-height: 60px;
	margin: 0;
}

.topnav a, footer a{
	color: var(--light-color);
	font-family: var(--preferred-serif-font);
	font-size: 20px;
	vertical-align: middle;
}

.topnav {
  background-color: var(--dark-color);
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  height: 60px;
  padding: 16px;
}

.topnav img {
	width: 60px;
	height: 60px;
	padding: 0;
	margin: 0;
}

.topnav a:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.topnav a.active {
  background-color: var(--dark-color);;
  color: var(--light-color);;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .topnav {
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


footer {
  width: 100%;
	text-align: center;
	flex-shrink: 0;
	background-color: var(--dark-color);
	color: var(--light-color);
	font-family: var(--preferred-sans-serif-font);
}

footer p {
  margin: 20px;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--dark-color);
		color: var(--light-color);
	}
	
	footer, footer a {
		background-color: var(--light-color);
		color: var(--dark-color);
	}
	
	a {
		color: var(--light-color);
	}
	
	.stitched {
		border: 2px solid var(--light-color);
	}
}
