<header>
	<nav class="topnav" id="myTopnav">
	  <a href="{{ site.url }}/">
	    <img src="{{ site.url }}/img/avatar.png" alt="An illustration of Nathan Dyer">
    </a>
	  <a href="{{ site.url }}/blog/"">Blog</a>
		<a href="{{ site.url }}/feed.xml">RSS</a>
		<a href="https://codeberg.org/nathandyer" rel="me">Codeberg</a>
		<a href="https://hachyderm.io/@nathandyer" rel="me">Mastodon</a>
	  <a href="{{ site.url }}/principles/">Principles</a>
	  <a href="{{ site.url }}/interests/">Interests</a>
	  <a href="{{ site.url }}/endorsements/">Endorsements</a>
	  <a href="javascript:void(0);" class="icon" onclick="handleResponsiveDesign()"><i class="fa fa-bars"></i></a>
  </nav>
  
  <script>
  function handleResponsiveDesign() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
  </script>
</header>
