<header class="primary-header">
  <div id="left">
	  <a href="{{ site.url }}/">
	    <img src="{{ site.url }}/img/avatar.png" alt="An illustration of Nathan Dyer">
	  </a>
	  
	</div>
	
	<div id="right">
		<a href="{{ site.url }}/feed.xml"><i class="openwebicons-feed"></i></a>
		<a href="https://codeberg.org/nathandyer" rel="me"><i class="openwebicons-git"></i></a>
		<a href="https://social.nathandyer.me/@nathan" rel="me"><i class="openwebicons-mastodon-simple"></i></a>
		<a href="https://pixelfed.social/nathandyer" rel="me"><i class="openwebicons-pixelfed "></i></a>
	</div>
</header>
