<div>
    {% if site.rss %}
    <li class="icon">
	    <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="{{ site.str_rss_follow }}">
		    <i class="fa fa-fw fa-rss"></i>
	    </a>
    </li>
    {% endif %}


    {% if site.twitter %}
    <li class="icon">
	    <a href="https://twitter.com/{{ site.twitter }}" title="{{ site.str_follow_on }} Twitter">
		    <i class="fa fa-fw fa-twitter"></i>
	    </a>
    </li>
    {% endif %}


    {% if site.instagram %}
    <li class="icon">
	    <a href="http://instagram.com/{{ site.instagram }}" title="{{ site.str_follow_on }} Instagram">
		    <i class="fa fa-fw fa-instagram"></i>
	    </a>
    </li>
    {% endif %}


    {% if site.github %}
    <li class="icon">
	    <a href="https://github.com/{{ site.github }}" title="{{ site.str_follow_on }} GitHub">
		    <i class="fa fa-fw fa-github"></i>
	    </a>
    </li>
    {% endif %}


    {% if site.reddit %}
    <li class="icon">
	    <a href="https://www.reddit.com/user/{{ site.reddit }}" title="{{ site.str_follow_on }} Reddit">
		    <i class="fa fa-fw fa-reddit"></i>
	    </a>
    </li>
    {% endif %}


    {% if site.youtube %}
    <li class="icon">
	    <a href="https://www.youtube.com/user/{{ site.youtube }}" title="{{ site.str_follow_on }} YouTube">
		    <i class="fa fa-fw fa-youtube"></i>
	    </a>
    </li>
    {% endif %}


    {% if site.email_address %}
    <li class="icon">
	    <a href="mailto:{{ site.email_address }}" title="{{ site.str_email }}">
		    <i class="fa fa-fw fa-envelope"></i>
	    </a>
    </li>
    {% endif %}
</div>
